<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./bus-logo.ico">
    <link rel="stylesheet" href="./css/setup.css" />
    <link rel="stylesheet" href="./css/layout.css" />
    <title>UrbanLife - @ViewData["Title"]</title>
</head>
<body>
    <header>
        <nav class="main-nav">
            <span id="main-logo">UrbanLife</span>
            <ul>
                @if (ViewBag.User != null)
                {
                    <li class="nav-list-item">Welcome back, @ViewBag.User.FirstName</li>
                }
                <li class="nav-list-item">
                    <a href="/">Home</a>
                </li>
                <li class="nav-list-item">
                    <a href="#">Travel</a>
                </li>
                <li class="nav-list-item">
                    <a href="#">Time table</a>
                </li>
                @if (ViewBag.User != null)
                {
                    <li class="nav-list-item">
                        <a href="#">Subscriptions</a>
                    </li>
                }
                <li class="nav-list-item">
                    <div class="image-container">
                        @if (ViewBag.User != null)
                        {
                            <img src="./images/profile-pictures/custom-pictures/@ViewBag.ProfilePictureName" alt="Profile" />
                        }
                        else
                        {
                            <img src="./images/profile-pictures/guest.png" alt="Profile" />
                        }
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <section id="footer-info">
            <div class="footer-info-card">
                <h3>Contacts</h3>
                <ul class="contacts-list">
                    <li>
                        <span>
                            <i class="fa-solid fa-phone-volume"></i>  +359 0000 00000
                        </span>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-map-pin"></i>   Bulgaria, Sofia</span>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-envelope"></i>   mocking.address@test.com</span>
                    </li>
                </ul>
            </div>
            <div class="footer-info-card">
                <h3>Our mission</h3>
                <p>
                    UrbanLife's mission is integration, digitalization and facilitation
                    of the urban transport system.
                </p>
            </div>
            <div class="footer-info-card">
                <h3>Content disclaimer</h3>
                <p>
                    The content and data used by this web project for users, lines,
                    stops, payment info, contacts, purchase info etc. are not real
                    and are for educational and graduation purpouses only!
                </p>
            </div>
        </section>
        <section id="footer-copyright">
            <p class="footer-copyright-item">&#169; 2023 UrbanLife AG Bulgaria, All rights reserved.</p>
            <p class="footer-copyright-item">Author - Boris Evtimov, Bulgaria, Sofia</p>
        </section>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>