<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./bus-logo.ico">
    <title>UrbanLife - @ViewData["Title"]</title>
</head>
<body>
    <header>
        <nav>
            <span id="main-logo">UrbanLife</span>
            <ul>
                @if (ViewBag.User != null)
                {
                    <li class="nav-list-item">Welcome back, @ViewBag.User.FirstName</li>
                }
                <li class="nav-list-item">
                    <a href="/">Home</a>
                </li>
                <li class="nav-list-item">
                    <a href="#">Travel</a>
                </li>
                <li class="nav-list-item">
                    <a href="#">Time table</a>
                </li>
                @if (ViewBag.User != null)
                {
                    <li class="nav-list-item">
                        <a href="#">Subscriptions</a>
                    </li>
                }
                <li class="nav-list-item">
                    <div>
                        @if (ViewBag.User != null)
                        {
                            <img src="./images/profile-pictures/custom-pictures/@ViewBag.ProfilePictureName" alt="Profile" />
                        }
                        else
                        {
                            <img src="./images/profile-pictures/guest.png" alt="Profile" />
                        }
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>