main {
    background-color: var(--clr-main-gray);
}

.hero-section {
    width: 100%;
    height: 50vh;
}

.hero-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 45%;
    filter: brightness(40%);
}

.hero-description {
    position: relative;
    margin: 0 auto;
    z-index: 2;
    bottom: 50vh;
    color: white;
    text-align: center;
}

.main-title {
    font-size: 42px;
    margin-bottom: 0px;
}

.secondary-title {
    font-size: 32px;
    margin-top: 12vh;
    margin-bottom: 2vh;
}

.description {
    margin: 0 auto;
    width: 70vw;
    font-size: 18px;
}

.subscriptions-header {
    text-align: center;
}

.divider {
    background-color: var(--clr-main-green);
    height: 7px;
    width: 12vw;
    border-radius: 3px;
    border: 1px solid black;
    margin-bottom: 10vh;
}

.subscription-types-container {
    margin-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.subscription-container {
    background-color: white;
    position: relative;
    height: 55vh;
    width: 25vw;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
}

.subscription-card-title {
    margin-top: 0px;
    text-align: center;
}

.subscription-text {
    text-align: center;
}

.unordered-list {
    list-style-type: none;
    padding-inline-start: 0px;
}

    .unordered-list > li:not(:last-child) {
        margin-bottom: 12px;
    }

.main-input {
    height: 30px;
    border-radius: 5px;
}

.submit-btn {
    text-decoration: none;
    color: black;
    display: inline-flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 16px;
    border: 1px solid black;
    background-color: var(--clr-main-gray);
}

    .submit-btn:hover {
        transition: 0.3s;
        background-color: var(--clr-main-green);
        cursor: pointer;
    }

.submit-btn {
    position: absolute;
    bottom: 3vh;
    left: 5.5vw;
}

.fa-circle-check {
    color: var(--clr-main-green);
    font-size: 20px;
}

.fa-triangle-exclamation {
    color: #edc202;
    font-size: 20px;
}