@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

.main-nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 8vh;
    background-color: var(--clr-main-green);
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 6;
}

    .main-nav > ul {
        display: flex;
        margin: 0px;
        height: 100%;
        list-style-type: none;
        padding-inline-start: 0px;
        align-items: center;
    }

.image-container {
    margin-top: 0.5vh;
    height: 7vh;
    width: 7vh;
    object-fit: contain;
    border-radius: 50%;
    overflow: hidden;
}

    .image-container > img {
        height: 100%;
    }

        .image-container > img:hover {
            height: 100%;
            cursor: pointer;
        }

.nav-list-item {
    display: flex;
    font-size: 20px;
    height: 100%;
}

    .nav-list-item > span {
        text-align: center;
        height: 8vh;
        line-height: 8vh;
        padding: 0px 10px;
    }

.nav-anchor {
    text-decoration: none;
    color: black;
}

.nav-list-item > a {
    text-align: center;
    height: 8vh;
    width: 150px;
    line-height: 8vh;
    padding: 0px 10px;
}

.nav-list-item:nth-last-child(2) {
    margin-right: 20px;
}

.nav-anchor:hover {
    background-color: white;
    transition: 0.3s;
}

/*user profile*/

#profile-menu {
    position: fixed;
    display: flex;
    background-color: var(--clr-main-gray);
    top: 8vh;
    right: 1vw;
    width: 250px;
    z-index: 6;
}

.profile-menu-list {
    margin: 0px;
    list-style-type: none;
    padding-inline-start: 0px;
    box-shadow: -1px 13px 31px -3px rgba(0,0,0,0.4);
    -webkit-box-shadow: -1px 13px 31px -3px rgba(0,0,0,0.4);
    -moz-box-shadow: -1px 13px 31px -3px rgba(0,0,0,0.4);
}

.profile-menu-list-item {
    height: 8vh;
    display: flex;
    font-size: 20px;
    border: 1px solid black;
}

    .profile-menu-list-item > span {
        width: 100%;
        height: 8vh;
        line-height: 8vh;
        text-align: center;
    }

    .profile-menu-list-item > .nav-anchor {
        width: 100%;
        height: 8vh;
        line-height: 8vh;
        text-align: center;
    }

#log-out-btn:hover {
    background-color: var(--clr-log-out-red);
}

#log-in-btn:hover {
    background-color: var(--clr-main-green);
}

/*end of user profile*/

main {
    padding-top: 8vh;
    z-index: 1;
}

#footer-info {
    background-color: var(--clr-main-green);
    padding: 0px 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
}

.footer-info-card {
    text-align: center;
}

.contacts-list {
    list-style-type: none;
    padding-inline-start: 0px;
}

#footer-copyright {
    background-color: var(--clr-darker-green);
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}