main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    margin-bottom: 0px;
}

.filter-container {
    margin-bottom: 30px;
}

.receipts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.receipts-container {
    display: flex;
}

.receipt-validation-container {
    text-align: center;
}

.page-navigation-container {
    width: 300px;
    text-align: center;
}

.page-navigation-links {
    display: flex;
    justify-content: center;
}

.nav-page-link {
    border: 1px solid black;
    width: 25px;
}

.nav-page-link:not(:first-of-type) {
    border-left: none;
}