main {
    background-image: url('../images/bus-stop-hero.jpg');
    background-size: cover;
    background-position-y: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

.main-title {
    margin-bottom: 12px;
}

.secondary-title {
    margin-top: 0px;
    margin-bottom: 5vh;
}

.travel-form {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 12px;
    -webkit-box-shadow: 1px 0px 49px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 49px -19px rgba(0,0,0,0.75);
    box-shadow: 1px 0px 49px -19px rgba(0,0,0,0.75);
    margin-bottom: 5vh;
}

.form-row {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.first-row {
    margin-bottom: 3vh;
}

.form-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.main-input {
    height: 30px;
    border-radius: 5px;
    font-family: 'Roboto Flex', sans-serif;
}

.input-label-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.form-time-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    gap: 8px;
}

.submit-btn {
    padding-left: 10px;
    padding-right: 10px;
}

    .submit-btn:hover {
        transition: 0.3s;
        cursor: pointer;
        background-color: var(--clr-main-green);
    }

.route-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.routes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-bottom: 5vh;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 12px;
    -webkit-box-shadow: 1px 0px 49px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 49px -19px rgba(0,0,0,0.75);
    box-shadow: 1px 0px 49px -19px rgba(0,0,0,0.75);
}

.route-row {
    margin: 0px;
}
